* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  font-family: "Helvetica", "Arial", sans-serif;
}

.menu-container {
    color: #B5BFA1; /* Laurel green */
    background-color: #CFD6EA; /* light periwinkle */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.imagine-container {
    margin-top: 20px;
    padding: 35px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: #CEBACF; /* Thisle */
    display: flex;
    justify-content: center;
    flex-direction: column;
}



h3 {
  padding: 20px;
  font-family: "Helvetica", "Arial", sans-serif;
}

.contact {
  margin: 20px;
  font-weight: lighter;
  font-size: 20px;
  display: flex;
  justify-content: end;
  align-items: column;
}







/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #A76D60; /* Blast off bronze */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #9792E3; /* Maximum blue purple */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #EDFFEC; /* Honeydew! */
  }
}
